[Unit]
Description=Spring Boot Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/spring-boot-demo
ExecStart=/usr/bin/java -jar /var/www/spring-boot-demo/spring-boot-demo.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
