[Unit]
Description=Spring Boot Application
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ deploy_dir }}
ExecStart=/usr/bin/java -jar {{ deploy_dir }}/spring-boot-demo.jar
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
